@model CategoryEditCommand
@{
    ViewData["Title"] = "Create";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Bootstrap Basic Tables</h4>
                    <span>
                        lorem ipsum dolor sit amet, consectetur adipisicing
                        elit
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="../index.html"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Bootstrap Table</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Basic Table</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <!-- Basic table card start -->
    <div class="card">
        <div class="card-header">
            <h5>Basic Table</h5>
            <span>use class <code>table</code> inside table element</span>

        </div>
        <div class="card-block table-border-style">
            <div class="card-block">
                <h4 class="sub-title">Basic Inputs</h4>
                <form method="post">
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-2 col-form-label">

                        </label>
                        <div class="col-sm-10">
                            <input asp-for="Name" type="text" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ParentId" class="col-sm-2 col-form-label">

                        </label>
                        <div class="col-sm-10">
                            <select class="form-control select2" asp-for="ParentId" asp-items="@ViewBag.ParentId"></select>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-success mr-2">Save</button>
                            <a class="btn btn-info" asp-action="Index">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Basic table card end -->

</div>


@section addcss{
    <link rel="stylesheet" href="~/libs/select2/css/select2.min.css" />
}

@section addJs{

    <script src="~/libs/select2/js/select2.full.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        })
    </script>
                    }



