<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Navigation</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu active pcoded-trigger">
                <a asp-controller="Home" asp-action="Index">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Ana sehife</span>
                </a>
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"></span>
                    <span class="pcoded-mtext">Mehsullar</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="active">
                        <a asp-controller="Brands" asp-action="Index">
                            <span class="pcoded-mtext">Markalar</span>
                        </a>
                    </li>
                    <li class="">
                        <a asp-controller="Categories" asp-action="Index">
                            <span class="pcoded-mtext">Kateqoriyalar</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-controller="Colors" asp-action="Index">
                            <span class="pcoded-mtext">Rengler</span>
                            <span class="pcoded-badge label label-info ">NEW</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-controller="sizes" asp-action="index">
                            <span class="pcoded-mtext">Olculer</span>
                            <span class="pcoded-badge label label-info ">NEW</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-controller="materials" asp-action="Index">
                            <span class="pcoded-mtext">Materiallar</span>
                            <span class="pcoded-badge label label-info ">NEW</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-controller="types" asp-action="Index">
                            <span class="pcoded-mtext">Tipler</span>
                            <span class="pcoded-badge label label-info ">NEW</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-controller="Faqs" asp-action="Index">
                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Faqs</span>
                        </a>
                    </li>

                </ul>

                <a href="javascript:void(0)">
                    <span class="pcoded-micon"></span>
                    <span class="pcoded-mtext">Paylasimlar</span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a asp-controller="BlogPosts" asp-action="Index">
                            <span class="pcoded-mtext">Hamisi</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="default/dashboard-crm.html">
                            <span class="pcoded-mtext">Derc edilmis paylasimlar</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-controller="Colors" asp-action="Index">
                            <span class="pcoded-mtext">Silinmis</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="">
                <a href="default/navbar-light.html">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Navigation</span>
                </a>
            </li>

        </ul>


    </div>
</nav>